alembic==1.7.7
APScheduler==3.6.3
backports.zoneinfo==0.2.1
banal==1.0.6
cachetools==4.2.2
captcha==0.4
certifi==2021.10.8
dataset==1.5.2
greenlet==1.1.2
importlib-metadata==4.11.3
importlib-resources==5.4.0
Mako==1.2.0
MarkupSafe==2.1.1
Pillow==9.0.1
python-decouple==3.6
python-telegram-bot==13.11
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
SQLAlchemy==1.4.32
tornado==6.1
tzdata==2021.5
tzlocal==4.1
yapf==0.32.0
zipp==3.7.0
